# Intrudiction to Bokeh

## Basic Line Graph with Bokeh

### Import Libraries

In [10]:
# Import Bokeh
from bokeh.plotting import figure
from bokeh.io import output_file, show
import pandas as pd

In [3]:
# Dataset
x = [1,2,3,4,5]
y = [10,9,7,4,6]

# Output File
output_file("Basic Graph.html")

# Create Figure Object
f = figure()

# Create Line Plot
f.line(x, y)

# Write the Plot in the Figure Object
show(f)

In [5]:
#dir(f)

##  Plotting Triangles and Circle Glyphs

In [7]:
# Dataset
x = [0, 5, 2.5]
y = [0, 0, 2.5]

# Output File
output_file("Triangle.html")

# Create Figure Object
f = figure()

# Create Triangle Plot
f.triangle(x, y)

# Write the Plot in the Figure Object
show(f)

BokehDeprecationWarning: 'triangle() method' was deprecated in Bokeh 3.4.0 and will be removed, use "scatter(marker='triangle', ...) instead" instead.

## Bokeh & Pandas

In [13]:
df = pd.read_csv("data.csv")
x = df.x
y = df.y

In [15]:
# Output File
output_file("Plot_csvFile.html")

# Create Figure Object
f = figure()

# Create Line Plot
f.line(x, y)

# Write the Plot in the Figure Object
show(f)

## Plotting Education Data

In [16]:
df = pd.read_csv("https://pythonizing.github.io/data/bachelors.csv")

In [17]:
df.head()

,Year,Agriculture,Architecture,Art and Performance,Biology,Business,Communications and Journalism,Computer Science,Education,Engineering,English,Foreign Languages,Health Professions,Math and Statistics,Physical Sciences,Psychology,Public Administration,Social Sciences and History
0,1970,4.229798,11.921005,59.7,29.088363,9.064439,35.3,13.6,74.535328,0.8,65.570923,73.8,77.1,38.0,13.8,44.4,68.4,36.8
1,1971,5.452797,12.003106,59.9,29.394403,9.503187,35.5,13.6,74.149204,1.0,64.556485,73.9,75.5,39.0,14.9,46.2,65.5,36.2
2,1972,7.420710,13.214594,60.4,29.810221,10.558962,36.6,14.9,73.554520,1.2,63.664263,74.6,76.9,40.2,14.8,47.6,62.6,36.1
3,1973,9.653602,14.791613,60.2,31.147915,12.804602,38.4,16.4,73.501814,1.6,62.941502,74.9,77.4,40.9,16.5,50.4,64.3,36.4
4,1974,14.074623,17.444688,61.9,32.996183,16.204850,40.5,18.9,73.336811,2.2,62.413412,75.3,77.9,41.8,18.2,52.6,66.1,37.3

In [19]:
df.columns

Index(['Year', 'Agriculture', 'Architecture', 'Art and Performance', 'Biology',
       'Business', 'Communications and Journalism', 'Computer Science',
       'Education', 'Engineering', 'English', 'Foreign Languages',
       'Health Professions', 'Math and Statistics', 'Physical Sciences',
       'Psychology', 'Public Administration', 'Social Sciences and History'],
      dtype='object')

In [20]:
x = df.Year
y = df.Engineering

In [22]:
# Output File
output_file("Us Engineering Grads.html")

# Create Figure Object
f = figure()

# Create Line Plot
f.line(x, y)

# Write the Plot in the Figure Object
show(f)

## Plot Properties

- Add a title to the plot, 
- Set the figure width and height, 
- Change title font,

In [25]:
from bokeh.plotting import figure, output_file, show

p=figure(width=500, height=400, tools='pan')

p.title.text="Cool Data"
p.title.text_color="Gray"
p.title.text_font="times"
p.title.text_font_style="bold"
p.xaxis.minor_tick_line_color=None
p.yaxis.minor_tick_line_color=None
p.xaxis.axis_label="Date"
p.yaxis.axis_label="Intensity"    

p.line([1,2,3],[4,5,6])
output_file("sample.html")
show(p)

## Plotting Weather Data

In [27]:
import pandas as pd

from bokeh.plotting import figure, output_file, show

In [28]:
df=pd.read_excel("https://github.com/pythonizing/data/raw/master/verlegenhuken.xlsx",sheet_name=0)

In [29]:
df["Temperature"] = df["Temperature"]/10

df["Pressure"] = df["Pressure"]/10

In [30]:
p=figure(width=500, height=400, tools='pan')

p.title.text="Temperature & Air Pressure"
p.title.text_color="Gray"
p.title.text_font="arial"
p.title.text_font_style="bold"

p.xaxis.minor_tick_line_color=None
p.yaxis.minor_tick_line_color=None

p.xaxis.axis_label="Temperature (°C)"
p.yaxis.axis_label="Pressure (hPa)"    

p.circle(df["Temperature"],df["Pressure"], size=0.5)
output_file("Weather.html")
show(p)

BokehDeprecationWarning: 'circle() method with size value' was deprecated in Bokeh 3.4.0 and will be removed, use 'scatter(size=...) instead' instead.

## Visual Attributes

In [31]:
from bokeh.plotting import figure, output_file, show

p = figure(width=500, height=400, tools = 'pan, reset')

p.title.text = "Earthquakes"

p.title.text_color = "Orange"

p.title.text_font = "times"

p.title.text_font_style = "italic"

p.yaxis.minor_tick_line_color = "Yellow"

p.xaxis.axis_label = "Times"
p.yaxis.axis_label = "Value"

p.circle([1,2,3,4,5], [5,6,5,5,3], size = [i*2 for i in [8,12,14,15,20]], color="red", alpha=0.5)

output_file("Scatter_plotting.html")
show(p)

BokehDeprecationWarning: 'circle() method with size value' was deprecated in Bokeh 3.4.0 and will be removed, use 'scatter(size=...) instead' instead.

## Time Series Plots

In [38]:
df = pd.read_csv("adbe.csv",parse_dates = ["Date"])

/var/folders/br/pq4r4jdj7n370js8hxvml1vm0000gn/T/ipykernel_13324/402984484.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("adbe.csv",parse_dates = ["Date"])

In [39]:
df.head()

        Date   Open   High    Low  Close   Volume
0 2012-08-02  30.46  30.83  30.25  30.58  2639980
1 2012-08-01  31.05  31.17  30.64  30.69  2738740
2 2012-07-31  30.99  31.27  30.84  30.88  2662853
3 2012-07-30  31.89  31.95  30.92  31.01  4261193
4 2012-07-27  31.26  32.00  31.17  31.90  3312890

In [43]:
p = figure(width=500, height=250, x_axis_type="datetime", sizing_mode="scale_width")

p.line(df["Date"], df["Close"], color="Orange", alpha=0.5)

output_file("Timeseries.html")
show(p)

## Plotting Financial Time Series with Bokeh

In [47]:
import yfinance as yf
import pandas as pd
import numpy as np

In [63]:
from bokeh.layouts import row
from bokeh.plotting import figure, show
from bokeh.palettes import Category10_5 # for coloring

In [69]:
tickers = ['AAPL', 'GOOG', 'MSFT', 'NFLX', "TSLA"]

data = yf.download(tickers)

data = data.dropna()["Adj Close"]

data.reset_index(inplace=True)

[*********************100%%**********************]  5 of 5 completed

In [70]:
data.head()

Ticker       Date       AAPL       GOOG       MSFT       NFLX       TSLA
0      2014-03-27  16.907248  27.846546  33.330235  52.025715  13.821333
1      2014-03-28  16.888376  27.922838  34.126240  51.267143  14.158000
2      2014-03-31  16.884602  27.772251  34.710541  50.290001  13.896667
3      2014-04-01  17.039059  28.280355  35.074650  52.098572  14.464667
4      2014-04-02  17.067373  28.272379  35.015377  51.840000  15.352667

In [73]:
p1 = figure(x_axis_type="datetime", title="Adjust Close Stock Prices")

p1.grid.grid_line_alpha = .3

p1.xaxis.axis_label = "Date"
p1.yaxis.axis_label = "Price"

for i, tick in enumerate(tickers):
    p1.line(data.Date, data[tick], color=Category10_5[i], legend_label=tick)

p1.legend.location = 'top_left'

output_file("Adjust Close Stock Prices.html")
show(p1)

## More Visualization Examples with Bokeh
Find a lot more plotting examples [here](http://bokeh.pydata.org/en/0.10.0/docs/gallery.html)